<main>
  <p-panel header="Lista de usuarios" class="main-container-panel">
    <article>
      <p-dropdown
        [options]="userTypeOptions"
        (onChange)="handleChangeType($event)"
      />
      <section>
        <p-table
          [tableStyle]="{ 'min-width': '50rem' }"
          [value]="isStudent() ? students() : catedratics()"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>{{ isStudent() ? 'Carnet' : 'ID' }}</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>Genero</th>
              <th>{{ isStudent() ? 'Fecha de naciemiento' : 'Ultimo titulo obtenido' }}</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ isStudent() ? user.studentId : user.catedraticId }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.sex | gender }}</td>
              <td>{{ isStudent() ? (user.birthDate | date) : (user.latestDegree | degree) }}</td>
              <td>
                <p-button
                  label="Actualizar"
                  icon="pi pi-user-edit"
                  (onClick)="directToUpdate(user)"
                />
              </td>
              <td>
                <p-button
                  label="Remover"
                  icon="pi pi-trash"
                  severity="danger"
                  (onClick)="removeHandler(user)"
                />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </section>
    </article>
  </p-panel>
</main>
<p-toast/>
