<main>
  <p-panel header="Lista de usuarios" class="main-container-panel">
    <article>
      <p-dropdown
        [options]="userTypeOptions"
        (onChange)="handleChangeType($event)"
      />
      <section>
        <p-table
          [tableStyle]="{ 'min-width': '50rem' }"
          [value]="showType() === 'STUDENT' ? students() : catedratics()"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>{{ showType() === 'STUDENT' ? 'Carnet' : 'ID' }}</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>Genero</th>
              <th>{{ showType() === 'STUDENT' ? 'Fecha de naciemiento' : 'Ultimo titulo obtenido' }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ showType() === 'STUDENT' ? user.studentId : user.catedraticId }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.sex | gender }}</td>
              <td>{{ showType() === 'STUDENT' ? (user.birthDate | date) : (user.latestDegree | degree) }}</td>
            </tr>
          </ng-template>
        </p-table>
      </section>
    </article>
  </p-panel>
</main>
