::ng-deep .custom-loading-dialog .p-dialog-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 2rem 0 !important;
  overflow: hidden;
  max-height: unset !important;
}

.split-button-profile {
  margin-right: 1rem;
}
